<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filePath" value="C:\Users\a6f3mzz\Documents\Visual Studio 2015\Projects\Sudoku\Sudoku\data\"/>
    <add key="fileName" value="solved_grids.txt"/>
    <add key="leaderboardPath" value="C:\Users\a6f3mzz\Documents\Visual Studio 2015\Projects\Sudoku\Sudoku\data\"/>
    <add key ="leaderboardName" value="leaderboard.txt"/>
  </appSettings>
</configuration>